# Server
PORT=3000
NODE_ENV=development

# Database
# Postgres connection string
DATABASE_URL=postgresql://user:password@localhost:5432/saas_api?schema=public

# Authentication
JWT_SECRET=change-me-to-a-long-random-string
JWT_EXPIRES_IN=1d

# CORS
CORS_ORIGIN=http://localhost:3001